
<div class="card rounded shadow-sm p-3">

  <div class="input-group flex-nowrap" style="margin-bottom: 2%">
    <span class="input-group-text" id="addon-wrapping">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </span>
    <input [(ngModel)]="filtroLista" type="text" class="form-control" placeholder="Pesquise organizacao" aria-label="Username" aria-describedby="addon-wrapping" >
    <a class="d-flex btn btn-outline-primary" routerLink="/organizacaoestrutural/detalhes">
      <i class="fa fa-plus-circle my-1"></i>
      <b class="ml-1 d-none d-sm-block">Novo</b>
    </a>
  </div>
  <table class="table table-striped table-hover">
    <thead class=" thead-dark">
      <tr>
        <th style="text-align: center; vertical-align:middle !important">#</th>
        <th style="text-align: center; vertical-align:middle !important">Ano</th>
        <th style="text-align: center; vertical-align:middle !important">businessarea</th>
        <th style="text-align: center; vertical-align:middle !important">MarketArea</th>
        <th style="text-align: center; vertical-align:middle !important">TchnologicalArea</th>
        <th style="text-align: center; vertical-align:middle !important">OperatingUnit</th>
        <th style="text-align: center; vertical-align:middle !important">Opção</th>
      </tr>
    </thead>
    <tbody *ngIf="organizacao && organizacao.length">
      <tr *ngFor="let organizacao of organizacaofiltrados" (click) = "detalheNegocio(organizacao.id)" style="cursor: pointer;">
        <td style="text-align: center; vertical-align:middle !important">{{organizacao.id}}</td>
        <td style="text-align: center; vertical-align:middle !important">{{organizacao.ano}}</td>
        <td style="text-align: center; vertical-align:middle !important">{{organizacao}}</td>
        <td style="text-align: center; vertical-align:middle !important">{{organizacao}}</td>
        <td style="text-align: center; vertical-align:middle !important">{{organizacao}}</td>
        <td style="text-align: center; vertical-align:middle !important">{{organizacao}}</td>
        <td style="text-align: center; vertical-align:middle !important">
          <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal($event, template, organizacao.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!organizacao.length">
      <tr>
        <td colspan="6" class="text-center">
          <h4 >Nenhuma Unidade de Negócio encontrada</h4>
        </td>
      </tr>
    </tfoot>
  </table>

</div>

<!--{{Unidade de negocio - JSON}}  -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja deletar esta organização?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
