<div class="card rounded shadow-sm p-3">

  <div class="input-group flex-nowrap" style="margin-bottom: 2%">
    <span class="input-group-text" id="addon-wrapping">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </span>
    <input [(ngModel)]="filtroLista" type="text" class="form-control" placeholder="Pesquise area de negocio" aria-label="Username" aria-describedby="addon-wrapping" >
    <a class="d-flex btn btn-outline-primary" routerLink="/unidadeoperacional/detalhes">
      <i class="fa fa-plus-circle my-1"></i>
      <b class="ml-1 d-none d-sm-block">Novo</b>
    </a>
  </div>
  <table class="table table-striped table-hover">
    <thead class=" thead-dark">
      <tr>
        <th style="text-align: center; vertical-align:middle !important">#</th>
        <th style="text-align: center; vertical-align:middle !important">Descrição</th>
        <th style="text-align: center; vertical-align:middle !important">Sigla do Negócio</th>
        <th style="text-align: center; vertical-align:middle !important">Código Reduzido</th>
        <th style="text-align: center; vertical-align:middle !important">Opção</th>
      </tr>
    </thead>
    <tbody *ngIf="operating && operating.length">
      <tr *ngFor="let businessarea of operatingfiltrados" (click) = "detalheNegocio(operating.id)" style="cursor: pointer;">
        <td style="text-align: center; vertical-align:middle !important">{{operating.id}}</td>
        <td style="text-align: center; vertical-align:middle !important">{{operating.descricao}}</td>
        <td style="text-align: center; vertical-align:middle !important">{{operating.sigla}}</td>
        <td style="text-align: center; vertical-align:middle !important">{{operating.codReduzido}}</td>
        <td style="text-align: center; vertical-align:middle !important">
          <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal($event, template, operating.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!operating.length">
      <tr>
        <td colspan="6" class="text-center">
          <h4 >Nenhuma Unidade de Negócio encontrada</h4>
        </td>
      </tr>
    </tfoot>
  </table>

</div>

<! --{{Unidade operacional - JSON}}  -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja deletar este negocio?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
